body {
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif !important;
  background-color: #cbd28f !important;
}
#heading {
  font-size: 3rem;
  font-weight: 400;
}
#heading span {
  background-color: #e3b448;
}
.result-background {
  background-color: #cbd28f;
  color: black;
}
#result {
  font-size: 2rem;
}
.twoInputs[type="number"] {
  padding: 8px 16px;
  font-size: 1rem;
}
.selectInput {
  font-size: 1.6rem;
}

#CalculateResult {
  background-color: #e3b448;
  border-radius: 4px;
  padding: 8px 16px;
}
